WebServiceInventoryManagement/WebServiceInventoryManagement/Connected Services/SalesmanServiceReference/SalesmanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSalesman">
        <s:complexType />
      </s:element>
      <s:element name="GetSalesmanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalesmanResult" type="tns:ArrayOfSalesmanBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSalesmanBO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SalesmanBO" nillable="true" type="tns:SalesmanBO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SalesmanBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SalesmanId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesmanName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Commision" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertNewSalesman">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newSalesman" type="tns:SalesmanBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewSalesmanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewSalesmanResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSalesman">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="salesman" type="tns:SalesmanBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSalesmanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSalesmanResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesman">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="salesman" type="tns:SalesmanBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesmanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteSalesmanResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSalesmanSoapIn">
    <wsdl:part name="parameters" element="tns:GetSalesman" />
  </wsdl:message>
  <wsdl:message name="GetSalesmanSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewSalesmanSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewSalesman" />
  </wsdl:message>
  <wsdl:message name="InsertNewSalesmanSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSalesmanSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSalesman" />
  </wsdl:message>
  <wsdl:message name="UpdateSalesmanSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesmanSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSalesman" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesmanSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSalesmanResponse" />
  </wsdl:message>
  <wsdl:portType name="SalesmanServiceSoap">
    <wsdl:operation name="GetSalesman">
      <wsdl:input message="tns:GetSalesmanSoapIn" />
      <wsdl:output message="tns:GetSalesmanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewSalesman">
      <wsdl:input message="tns:InsertNewSalesmanSoapIn" />
      <wsdl:output message="tns:InsertNewSalesmanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesman">
      <wsdl:input message="tns:UpdateSalesmanSoapIn" />
      <wsdl:output message="tns:UpdateSalesmanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesman">
      <wsdl:input message="tns:DeleteSalesmanSoapIn" />
      <wsdl:output message="tns:DeleteSalesmanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesmanServiceSoap" type="tns:SalesmanServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalesman">
      <soap:operation soapAction="http://tempuri.org/GetSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewSalesman">
      <soap:operation soapAction="http://tempuri.org/InsertNewSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesman">
      <soap:operation soapAction="http://tempuri.org/UpdateSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesman">
      <soap:operation soapAction="http://tempuri.org/DeleteSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalesmanServiceSoap12" type="tns:SalesmanServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSalesman">
      <soap12:operation soapAction="http://tempuri.org/GetSalesman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewSalesman">
      <soap12:operation soapAction="http://tempuri.org/InsertNewSalesman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesman">
      <soap12:operation soapAction="http://tempuri.org/UpdateSalesman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesman">
      <soap12:operation soapAction="http://tempuri.org/DeleteSalesman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesmanService">
    <wsdl:port name="SalesmanServiceSoap" binding="tns:SalesmanServiceSoap">
      <soap:address location="http://localhost:56463/SalesmanService.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesmanServiceSoap12" binding="tns:SalesmanServiceSoap12">
      <soap12:address location="http://localhost:56463/SalesmanService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>